<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Главная</title>
    <link href="/template/css/first-page.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/template/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/template/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/template/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/template/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/template/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="firstPage">
<div class="container-fluid">
    <div class="row">
        <br><br>
        <div class="center mb-sm">
            <div class="leo">
                <img src="/template/images/home/leo.png" alt="">
            </div>
            <div class="buttonMain">
                <div class="buttons">
                    <a href="" class="btn">
                        <h3>Олимпиада және логика</h3>
                        <span>Математикалық олимпиада және логика</span>
                    </a>
                </div>
                <div class="buttons">
                    <a href="" class="btn">
                        <h3>Математика</h3>
                        <span>Мектеп математикасы</span>
                    </a>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
</body>
</html>